body {
	background-color:rgb(6, 216, 253);
	<div style="width:10%;
 box-shadow:5px 5px 3px #a3a0a1;
 vertical-align:middle;
 text-align:center;
border:1px solid black;">}
label{
    display: inline-block;
    width:100px;
    cursor: pointer;
font-size: extra-bold; }


 

	