<!DOCTYPE html>
<html lang="en-bg">
<head>
    <title>Home | TerraVecchia</title>
	<link rel= "stylesheet" href="CSS2.css">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/CSS2.css') }}">

    <h1>Test 0.2</h1> <br>
    --- <br>
</head>
<body>
</center><center><
    Insert an Artist Name to play his top track
    <center>
<center>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form> <br> <br>
</center> ,
    
    {{ searchResults }}

    <br>
    <center>
    <img src="{{ img }}">
</center> ,
   <center>

   <audio controls>
        <source src="{{ mp3 }}" type="audio/mpeg">
        Your browser does not support the audio element.  
    </audio>
</center>
</body>