<!DOCTYPE html>
<html>

<head>
	<title>OLD SKY</title>
	<link rel= "stylesheet" href="CSS.css">
	<script>
	function showPwd() {
        var input = document.getElementById('pwd');
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
	  </script>
</head>

<body>
<p></p>
<img src='spotify.jpg' alt='logo' width=280 height=280/>

<p>
<form>
<center>
<form action="login.php" method="post">
	<input type="text" name="nome" placeholder="Username" required>
	<input type="password" name="password" placeholder="Password" required>
	<input type="button" onclick="showPwd()" value="visualizza/nascondi password"> <br>
	<input type="submit" value="Login">
</form>
</center>
	
	<h1>OLD SKY SPOTIFY</h1>
	
	<p>
	<h4 style= "color:red; background-color:white">Enrico Del canto - Matteo Vescovo - Davide Ballerini - Simone Rossi - Matteo Aramini - Tommaso Giacomelli</h4>
	

 </body>
</html>
  